{% extends "index.html" %}

{% block content %}
    <h2>Add category</h2>

    <form method="post" action="" class="form-inline">
        <input type="text" name="name" placeholder="Unique category name"/>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <h2>Categories</h2>

    <table class="table table-condensed table-striped table-nofluid">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for c in categories %}
        <tr>
            <td>{{ c.name }}</td>
            <td>
                <a class="btn btn-mini" href="{{ uri_for('category', id=c.id) }}"><i class="icon-th-list"></i> view</a>
            </td>
            <td>
                <a class="btn btn-mini btn-danger" href="{{ uri_for('category-del', id=c.id) }}"><i class="icon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}