<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CashFlow{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
          .table-nofluid {
              width: auto;
          }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ uri_for('home') }}">CashFlow</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">{{ user() }}, <a href="{{ logout_url }}">log out</a></p>
                <ul class="nav">
                    <li id="nv-home"><a href="{{ uri_for('home') }}">Home</a></li>
                    <li id="nv-cat"><a href="{{ uri_for('categories') }}">Categories</a></li>
                    <li id="nv-wall"><a href="{{ uri_for('wallets') }}">Wallets</a></li>
                    <li id="nv-tool" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ uri_for('import') }}">Import</a></li>
                            <li><a href="{{ uri_for('tools-flush') }}">Flush</a></li>
                            <li><a href="{{ uri_for('overview') }}">Overview</a></li>
                            {% if user().profile.admin %}
                            <li class="divider"></li>
                            <li><a href="{{ uri_for('admin') }}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}
        <h2>Wallet</h2>
        <p>Select wallet:</p>
        <ul>
            {% for w in wallets %}
                <li><a href="{{ uri_for('wallet', id=w.id) }}">{{ w.name }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Global balance: {{ balance }}
        </p>

        <h2>Transactions</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Wallet</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.date.date() }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.category.name }}</td>
                    <td>{{ t.wallet.name }}</td>
                    <td>{{ t.description }}</td>
                    <td><a href="{{ uri_for('transaction-del', id=t.id) }}">del</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Add transaction</h2>
        <form method="post" action="{{ uri_for('transaction-add') }}" class="form-inline">
            Amount: <input type="text" name="amount" class="input-small"/>
            Category: <select name="category" class="input-small">
            {% for c in categories %}
                <option>{{ c.name }}</option>
            {% endfor %}
        </select>
            Wallet: <select name="wallet" class="input-small">
            {% for w in wallets %}
                <option value="{{ w.id }}">{{ w.name }}</option>
            {% endfor %}
        </select>
            Description: <input type="text" name="description"/>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    {% endblock %}
</div><!-- div class=container -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block extrafooter %}
<script>
    $('#nv-tool').addClass('active');
</script>
{% endblock %}
</body>
</html>