{% extends 'index.html' %}
{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <span class="btn disabled">Balance: <strong class="{% if balance < 0 %}text-error{% else %}text-success{% endif %}">{{ balance }}</strong></span>
        </div>
        <div class="btn-group pull-right">
            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                {{ wallet.name }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right">
                {% for w in wallets %}
                    <li><a href="{{ uri_for('wallet', id=w.id) }}">{{ w.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <form class="form-inline" method="post" action="{{ uri_for('wallet-transaction-add', id=wallet.id) }}">
        <fieldset>
            <legend>Add transaction</legend>
            <label>Amount:</label>
            <input type="text" name="amount" placeholder="-50, 100" class="input-small" />
            <label>Category:</label>
            <select name="category">
                {% for c in categories %}
                    <option>{{ c.name }}</option>
                {% endfor %}
            </select>
            <label>Description:</label>
            <input type="text" name="description" class="input-large" />
            <button type="submit" class="btn btn-primary">Add</button>
        </fieldset>
    </form>


    <fieldset>
        <legend>Transactions</legend>
        <p>Interval: <span id="start">{{ interval.0 }}</span> - <span id="end">{{ interval.1 }}</span>
            <a class="btn" href="?start={{ nav.previous.start }}&end={{ nav.previous.end }}"><i class="icon-step-backward"></i></a>
            <a class="btn" href="?start={{ nav.next.start }}&end={{ nav.next.end }}"><i class="icon-step-forward"></i></a>
            <a class="btn" href="?start={{ nav.this.start }}">this month</a>
            <a class="btn" href="?start={{ interval.0 }}">until today</a>
        </p>
    </fieldset>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">List</a></li>
        <li><a href="#tab2" data-toggle="tab" id="tab2-label">Chart</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for t in transactions %}
                    <tr>
                        <td>{{ t.date.date() }}</td>
                        <td><span class="{% if t.amount < 0 %}text-error{% else %}text-success{% endif %}">{{ t.amount }}</span></td>
                        <td>{{ t.category.name }}</td>
                        <td>{{ t.description }}</td>
                        <td><a class="btn btn-mini btn-danger" href="{{ uri_for('transaction-del', id=t.id) }}"><i class="icon-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab2">
          <p id="loading">Loading...</p>
          <div class="row-fluid">
              <div class="span6" id="container">
              </div>
              <div class="span6" id="container2">
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block extrafooter %}
<script>
    $('#nv-home').addClass('active');
</script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>
        $(function () {
            var chart_income, chart_outcome;
            $('#tab2-label').on('shown', function (e){
                var query = '?' + 'start=' + $('#start').html() + '&' + 'end=' + $('#end').html();
                $.getJSON('/api/transactions/{{ wallet.id }}/' + query)
                        .done(function (data) {
                            $('#loading').hide();
                            chart_income.series[0].setData(data.income);
                            chart_outcome.series[0].setData(data.outcome);
                        }
                );
            });
            $(document).ready(function() {
                chart_income = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Incoming'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b> {point.percentage}%',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.point.y + ' (' + this.percentage.toFixed(2) +'%)';
                                }
                            },
                            size: '45%'
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Income',
                        data: []
                    }]
                });
                chart_outcome = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container2',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Outgoing'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b> {point.percentage}%',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.point.y;
                                }
                            },
                            size: '45%'
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Outcome',
                        data: []
                    }]
                });
            });

        });
    </script>
{% endblock %}
